.buttoncon{
    padding: 2vh;
    display: flex ;
    justify-content: center;
    gap: 2.5vh;
}
.userform h1 {
    font-size: 2em;
    margin-bottom: 5vh;
    color: #885133;
    display: flex;
    justify-content: center;
  }
.tablee{
    overflow-y: auto;
    max-height: 70vh;
    display: ruby-text;
}
.tablee table{
    
    border-collapse: collapse;
}
.button{
    padding: 2.5vh 5vh;
    background-color: #d62300;
    color: #f4f0ec;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.userform{
    background-color: #f0e6d7;
}
.h1{
    padding: 0%;
}
body, html {
    height: 100%;
    margin: 0;
    background-color: #f0e6d7;
  }
.userform1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5vh;
    border: 1px solid #885133;
    border-radius: 5px;
    box-shadow: 0 0 5px;
    width: fit-content;
    color: #885133;
    
}
.userform1 form{
    display: flex;
    gap: 2vh;
    
}

.nameinput input{
    border-radius: 5px;
    border: 1px solid #885133;
    border-style: dotted;
    box-sizing: border-box;
    
}
.nameinput input:focus{
    border-color: #885133;
    outline:none
}

.tablee{
    border: #885133;
    margin-top: 5vh;
}
.tablee table{
    border-collapse: collapse;
    box-shadow: 0 0 5px;

}
.tablee th,.tablee td{
    padding: 5vh;
    border:1px solid #885133;

}
.adduser{
    background-color: #d62300;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    text-align: center;
    box-shadow: #885133;
}

.userInfo{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;


}
.userdetails{
    overflow-y: auto;
    max-height: 95vh;
}
.userdetails table{
    box-shadow: 0 0 5px;
    border-collapse:collapse;
    
}

.userdetails th,.userdetails td{
    border:1px solid #885133;
    vertical-align: top;
}
.connection{

   position: absolute;
   top: 10vh;
   right:10px;
}
span{
    display: flex;
    justify-content: center;
    color: brown;
}
.validationmsg{
    position: absolute;
    left:200vh;
    margin-top: 12vh;
}